<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stripe store with StdLib</title>
    <link href="./static/style.css" rel="stylesheet">
    <script src="./static/lib.js"></script>
    <script src="./static/script.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
      var GLOBALS = {
        SERVICE_PATH: '<%- servicePath %>',
        STRIPE_PUBLISHABLE_KEY: '<%- stripePublishableKey %>'
      };

      var stripe = Stripe(GLOBALS.STRIPE_PUBLISHABLE_KEY);
      var stripeHandler = StripeCheckout.configure({
        key: GLOBALS.STRIPE_PUBLISHABLE_KEY,
        locale: 'auto'
      });
    </script>
  </head>
  <body>
    <div class="stripe">
      <%- include('dialog') %>
      <div class="storefront">
        <% if (error) { %>
          <div class="error">
            An error was encountered:<br><br>
            <%- error %>
          </div>
        <% } else if (!products.length) { %>
          <div class="error">
            It doesn't look like you have any products set up.<br><br>
            <a href="https://dashboard.stripe.com/test/products" target="_blank">Click here</a>
            to add some to your test environment.<br>
            If this is meant for production,
            <a href="https://dashboard.stripe.com/products" target="_blank">click here</a> instead.
          </div>
        <% } else { %>
          <% products.forEach(function(product) { %>
            <%- include('product', {product: product}); %>
          <% }); %>
        <% } %>
      </div>
    </div>
  </body>
</html>
